[Unit]
Description=SeSrv TmpFs sync
After=srv-sesrv-tmpfs.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/mkdir -p /srv/sesrv/tmpfs/drive_c/Games/SpaceEngineersDedicated/DedicatedServer64
ExecStart=/usr/bin/rsync -aAXv --info=progress2 /srv/isrsrv/server/ /srv/isrsrv/tmpfs
ExecStop=/usr/bin/rsync -aAXv --info=progress2 /srv/isrsrv/tmpfs/ /srv/isrsrv/server

[Install]
WantedBy=default.target
