#    Copyright (C) 2022 7thCore
#    This file is part of SeSrv-Script.
#
#    SeSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    SeSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=SeSrv Server Service
After=network.target
Conflicts=sesrv-tmpfs.service
StartLimitBurst=3
StartLimitIntervalSec=300
StartLimitAction=none
OnFailure=sesrv-send-notification@%i.service

[Service]
Type=forking
KillMode=none
WorkingDirectory=/srv/sesrv/server/drive_c/Games/SpaceEngineersDedicated/DedicatedServer64
ExecStartPre=/usr/bin/sesrv-script pre-start %i
ExecStartPre=/usr/bin/sesrv-script server_tmux_install %i
ExecStart=/usr/bin/tmux -f /tmp/%u-%i-tmux.conf -L %u-%i-tmux.sock new-session -d -s SeSrv 'env WINEARCH=win64 WINEDEBUG=warn+heap WINEPREFIX=/srv/sesrv/server wine /srv/sesrv/server/drive_c/Games/SpaceEngineersDedicated/DedicatedServer64/SpaceEngineersDedicated.exe -console -path "C:\x5cusers\x5c%u\x5cApplication Data\x5cSpaceEngineersDedicated\x5c%i" 2> /srv/sesrv/logs/sesrv-wine-%i.log'
ExecStartPost=/usr/bin/sesrv-script post-start %i
ExecStop=/usr/bin/sesrv-script pre-stop %i
ExecStop=/usr/bin/tmux -L %u-%i-tmux.sock send-keys -t SeSrv.0 C-c
ExecStopPost=/usr/bin/sesrv-script post-stop %i
TimeoutStartSec=infinity
TimeoutStopSec=120
RestartSec=10
Restart=on-failure

[Install]
WantedBy=default.target
