#    Copyright (C) 2022 7thCore
#    This file is part of SeSrv-Script.
#
#    SeSrv-Script is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    SeSrv-Script is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=SeSrv TmpFs sync
After=srv-sesrv-tmpfs.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/bin/mkdir -p /srv/sesrv/tmpfs/drive_c/Games/SpaceEngineersDedicated/DedicatedServer64
ExecStart=/usr/bin/rsync -aAX --info=progress2 /srv/isrsrv/server/ /srv/isrsrv/tmpfs
ExecStop=/usr/bin/rsync -aAX --info=progress2 /srv/isrsrv/tmpfs/ /srv/isrsrv/server

[Install]
WantedBy=default.target
